#about-image{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: sticky;
  top: 0;

    img{
      width: 100%;
      border-radius: 0.3rem;

    }
}

// .content{
//   margin-top: 2rem;
// }

h1{
  font-family: Amatic SC;
}
