<div class="card-project">
  <%= link_to project_path(project), class: "card-link" do %>
    <div class="background-image" style="background-image: url('<%= cl_image_path project.cover_photo.key, crop: :fill %>')">
    <p class="project-name"><%= project.name %></p>
    <p class="view-text">-view-</p>
    </div>
  <% end %>
</div>
