
  <div class="row justify-content-center mt-5">
    <div class="col-12">
      <div class="signed-in-navbar">

        <h1>Logged in as: <%= current_user.email %></h1>
          <div class="user-actions">
            <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
              <button class="btn btn-outline-secondary">Sign out 👋</button>
            <% end %>

            <% if params[:controller] == "projects" && params[:action] == "show" %>
              <%= link_to edit_project_path(@project) do %>
                <button class="btn btn-outline-primary">Edit project ✍️</button>
              <% end %>

              <%= link_to project_path(@project), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                <button class="btn btn-outline-danger">Remove project ❌</button>
              <% end %>
            <% end %>
          </div>

      </div>
    </div>
  </div>
