<div class="container">
  <div class="content row justify-content-center">
    <h1 class="text-center mb-5">About Me</h1>
      <div class="col-12 col-lg-6">
        <p>Born in River Edge, New Jersey, Pascal began his art career at a very young age of seven when his older brother Sean, gave him the task of “copying” comic books covers in exchange for Pascal to read the comics!  At the age of two, his family relocated back to the south of France, where he spent hours sketching and drawing both comics and the beautiful landscapes of Provence.  In 1995 Pascal began his studying narrative illustration at the Ecole des Arts Decoratifs de Strasbourg, in France.  His formal training emphasized storytelling through art, and also happened to be the last class that was taught without computers.  A year-long study abroad in Boston at Tom Snyder Productions cemented Pascal’s goals and determined the US as the place to establish his professional artist career. After graduating in 2000 from the Arts Decoratifs de Strasbourg with a diploma in Narrative Illustration, Pascal’s brother Sean built him a new tool: a computer. It was the beginning of a new form of art for Pascal and a digital artist was born.

        In 2001, the appeal of paradise combined with employment took him to Honolulu, Hawaii where he worked at PREL developing online educational games. In 2002, he joined the start-up studio, Bent Image Labs, in Portland Oregon.  Here Pascal honed skills as a commercial 2D artist and then becoming a commercial director and collaborated on campaigns for clients such as Ritz Crackers and Reese’s Pieces.  The productions were always fast paced and Pascal thrived in the environment, further mastering his stills in speed sketching as well as creating many personal animation works.

        In 2005 Pascal moved to the San Francisco Bay Area to be a Senior Visual Artist for Leapfrog where he was responsible for the creation of many Leapfrog characters, storylines and game development for LeapFrog and its partners.

        In May of 2007 Pascal married in San Francisco and in 2008 their first child, Lily was born. His intense passion for his family thus began and he has been carrying that flame and inspiration in his work, and has become one of his hallmarks.

        In 2006 Pascal began to truly develop his own art and style, but lacking time due to his full time job, he had to come up with an efficient solution.  It was then that “Sketch of the Day” was born: every morning, first thing, he creates a sketch, albeit full color, and a story unto itself. This routine has yielded an archive of close to 6,000 sketches and over 900,000 organic Instagram followers, 500,000 organic Facebook followers and growing numbers on Tumblr, Twitter, DeviantArt and Pinterest.

        From 2007 to today Pascal wears many hats in the art world; from production  design to visual development for feature films and television; to creating commercial animation for clients such as Chevron and Disney; as well participating in various feature animations and animation specials. He began working with the film industry and found a love for visual development and storytelling in the film industry. Pascal had an early role in the movie Klaus, with Sergio Pablos Animation and helped set the initial visual bible for the movie. In 2010 and 2011 Pascal worked in visual development in such movies as Moana, Sherman and Peabody and Penguins of Madagascar.

        In 2014 Pascal decided to leave the San Francisco Bay Area and make the move to Los Angeles, California. He immediately went in-house with the Paramount Feature Animation and shortly thereafter was recruited to be part of a really exciting project at Warner Bros and Netflix. From 2015-2018, Pascal was involved with Season 1 of Netflix and Warner Bros. new adaptation of the beloved Dr. Suess book, Green Eggs and Ham. From 2020 - 2023 Pascal was the Production Designer for AppleTV's Peanuts specials which are new classics that are heartwarming as well as award winning.

        He achieved a professional and personal goal of his in December of 2019 by becoming a New Yorker Cover Artist. And gratefully his art has earned the cover many times since. He is currently represented by Shannon Associates in the field of publishing. And since 2020, Pascal has gone back to his roots and created regular comics strips featured on his Instagram called "Late Night Thoughts" and "Kitty Cat". Pascal has pushed his personal work into exciting new territory in is current comics.

        As of winter 2023 Pascal and wife Katrina opened their own Gallery/Creative Studios in Burbank, California.  The studios display collections of Pascal's work, host workshops and events, as well as functions as a visual development and IP development story studio.

        If asked, Pascal will say his inspiration to create and work hard stems from his family. Father to Lily, and twins Max and Colin, and beloved dogs Charlie and Ollie, Pascal loves to draw from his life experiences and moments that bring him true meaning and satisfaction.</p>
        <p>I’m currently based in Utrecht, the Netherlands, where I live with my partner in crime, Arjen Klaverstijn, who helped make this site!</p>
      </div>
      <div class="col-12 col-lg-6">
        <div id="about-image">
          <%= image_tag "About.jpg" %>
        </div>
      </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <h1 class="text-center">Inspiration</h1>
      <p>If asked, Pascal will say his inspiration to create and work hard stems from his family. Father to Lily, and twins Max and Colin, and beloved dogs Charlie and Ollie, Pascal loves to draw from his life experiences and moments that bring him true meaning and satisfaction.</p>
    </div>
    <div class="col-12 col-lg-6">
      <h1  class="text-center">Techniques</h1>
      <p>Storyteller, Artist, Writer and Creator.</p>
    </div>
  </div>

</div>
