<%= render "shared/banner" %>
<div class="container">
  <div class="container-index">
    <div class="cards">
      <% @projects.each do |project| %>
        <%= render "shared/card_project", project: project %>
      <% end %>
    </div>
  </div>
</div>
