<h1>we are showing the page here</h1>

<%= cl_image_tag @project.cover_photo.key, height: 300, width: 400, crop: :fill %>


<% @project.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
