
<% if user_signed_in? %>
<div class="main-container-signed-in">
<% else %>
<div class="main-container">
<% end %>

  <div class="row justify-content-center">
    <div class="col-12 col-lg-3">
      <div class="title-container">
        <h1><%= @project.name %></h1>
      </div>
    </div>

    <div class="col-12 col-lg-9">
      <div class="show-content-container">

          <div class="description-container">
            <p><%= @project.description %></p>
          </div>

          <div class="images-container">
            <%= cl_image_tag @project.cover_photo.key, crop: :fill %>

            <div class="side-images">
              <% @project.photos.each do |photo| %>
                <%= cl_image_tag photo.key, crop: :fill %>
              <% end %>
            </div>

          </div>

      </div>
    </div>
  </div>
</div>
