.main-container {
  display: flex;
  margin-top: 60px;
  background-color:$colorhunt-white;
  padding: 40px 35px;
  width: 100%;
}
.main-container-signed-in{
  display: flex;
  background-color:$colorhunt-white;
  padding: 40px 35px;
  width: 100%;
}

.title-container {
  height: 100vh;
  position: sticky;
  top: 0;
  background-color: $colorhunt-blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  border-radius: 0.3rem;

    @media (max-width: 992px) {
      height: 50vh;
      margin-bottom: 10px;
    }
}


.show-content-container {
  flex-grow: 1;
}

.description-container{
  background-color: $colorhunt-brown;
  padding: 15px;
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  border-radius: 5px;
  min-height: 90px;
  justify-content: center;


    p {
      margin-top: 0px;
      margin-bottom: 0px;
      font-family: 'Amatic SC';
      font-size: 20px;
    }
}

.images-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

    img{
      width: 100%;
      border-radius: 0.3rem;

    }
}

.side-images {
  img{
    margin-top: 10px;
  }
}
