.card-project {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  position: relative;
  overflow: hidden;
}

.background-image {
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  transition: background-image 0.3s ease;

    &:hover {
      filter: grayscale(100%)
    }
}

.card-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.project-name,
.view-text {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  color: white;

}

.view-text {
  // top: 58%; /* Adjust the percentage to move it lower */
  font-size: smaller;
  font-family: 'Amatic SC';
}

.project-name{
  font-size: larger;
  font-family: 'Quicksand';
  padding: 0 20px;

}

.card-project:hover .project-name,
.card-project:hover .view-text {
  opacity: 1;
}
