.navbar-lewagon {
  justify-content: space-between;
  // background: $colorhunt-pink;
  // position: fixed;
  // z-index: 1000;
  width: 100%;

  .container-fluid {
    justify-content: center;
  }

  a{
    font-family: Amatic SC;
    font-size: 2rem;
    color: black;

    &:hover {
      color: $colorhunt-blue;
      }
  }

}



.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
