.navbar {
  display: flex;
  background: $colorhunt-brown;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.navbar-paths {
  display: flex;
    a {
      padding-left: 30px;
      padding-right: 30px;
      text-decoration: none;
      color: $colorhunt-blue;

      &:hover {
        color: $colorhunt-pink;
      }
    }
}
